/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #f06292;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #e91e63;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e91e63;
    text-align: center;
}

/* Pie de Página */
footer {
    background-color: #f06292;
    color: white;
    text-align: center;
    padding: 15px;
}

footer img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
